# Repository maintainers are added to every pull request.
* @jyao1 @steven-bellock

# TPM code owners.
os_stub/spdm_device_secret_lib_tpm @Jino26 @itsManjeet @manojkiraneda
os_stub/cryptlib_openssl/tpm @Jino26 @itsManjeet @manojkiraneda
unit_test/test_spdm_tpm/ @Jino26 @itsManjeet @manojkiraneda
